#profile__picture {
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20%;
  margin-top: 10px;
}

.wallpaper {
  background-image: url("../images/eye-test.jpg");
  background-size: contain;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: right;
}